<div class="weui-tab">
    <div class="fix-top">
		<div class="weui-flex bg-white">
			<div  class="color-darkgray" style="height:42px;">
				<div style="position:absolute;top:0.4rem;left:10px;z-index:1;" onclick="location='#/login'" style="line-height:42px;"><i class="ui-ico-back"></i> 返回 </div>
				<div style="position:absolute;width:100%;text-align:center;top:0.4rem;z-index:0;">短信登录</div>
			</div>
		</div>
	</div>   
	</div>
    <div class="weui-tab__bd" style="color:#999999;padding-top: 60px;">
        <div style="margin: 20px 15px;">
            <div class="weui-cells">
                <div class="weui-cell weui-cell_select weui-cell_select-before">
                    <div class="weui-cell__hd">
                        <select class="weui-select" name="select2">
                            <option value="1">+86</option>
                            <option value="2">+80</option>
                            <option value="3">+84</option>
                            <option value="4">+87</option>
                        </select>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入手机号" ng-model="phone">
                    </div>
                </div>
            </div>
            <div class="weui-cells" style="margin-top: 6px;">
                <form action="#" autocomplete="off" >
                    <div class="weui-cell bg-white " style="padding: 5px 15px;">
                        <div class="weui-cell__hd"><i class="ui-ico-my"></i>　</div>
                        <div class="weui-cell__bd ">
                            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入验证码" ng-model="verification" autocomplete="off" style="">

                        </div>
                        <div ng-click="sendVer()" class="weui-cell__ft"><span class="btn-default verify font-13 color-green"  style="padding: 5px 10px;font-size: 15px;text-align: right;">获取验证码</span></div>
                    </div>
                </form>
            </div>
        </div>

        <div  class="btn-default bg-green color-white" ng-click="login()" style="margin: 10px 15px 10px ;border-radius: 5px;">登&nbsp;&nbsp;录</div>

        <div class="weui-cell clear-border">
            <a href="#/login" class="weui-cell__ft color-green" >密码登录</a>
        </div>

        <div class="weui-footer" style="margin: 10px 15px;text-align: left;">
            <p class="font-p">点击登录后，表示您同意<a  href="#/rule"><span  class="color-green">《千柏渡免责声明》</span></a></p>
        </div>
    </div>

    <!--<div class="weui-footer  weui-footer_fixed-bottom" style="margin-bottom: 20px;">
        <p class="weui-footer__text font-p">点击登录后，表示您同意<a  href="#/rule"><span  class="color-green">《千柏渡免责声明》</span></a></p>
    </div>-->
</div>

