@media  screen and (min-height:800px) {
	#b_left{
	top: 20%;
	}
}
@media screen and (min-width:1250px) {
	#b_left{
	top: 10%;
	}
}
@media  screen and (max-height:800px){
	#b_left{
    top:20px;
	left:0px;
	}
}
@media  screen and (max-width:1250px){
	#b_left{
    top:20px;
	left:0px;
	}
}
*{
	padding: 0px;
	margin: 0px;
}
body{
	background: url(../img/img2/bg.jpg)no-repeat;
	background-size:100% 950px;
    background-attachment:fixed;
}
header{
	width: 1200px;
	height:880px;
	margin: 0 auto;	
	text-align: center;
	position: relative;
}
#logo{
	position: absolute;
	top:60px;
	left:320px;
	width:500px;
	height: 60px;
	background: url(../img/img2/logo.png)no-repeat;
	background-size:500px 60px;
}
header p{
	position: absolute;
	top:140px;
	left:320px;
	text-align: left;
	width: 710px;
	height: 60px;
	color: #315F9B;
	font-weight: bold;
}
li{
	list-style: none;
}
#b_left{
	position: fixed;
	width:290px;
	height:650px;
}
.nav,.nav0o{
	position: absolute;
	top:5px;
	left:70px;
}
.nav1,.nav1o{
	position: absolute;
	top:90px;
	left:160px;
}
.nav2,.nav2o{
	position: absolute;
	top:190px;
	left:205px;
}
.nav3,.nav3o{
	position: absolute;
	top:300px;
	left:210px;
}
.nav4,.nav4o{
	position: absolute;
	top:410px;
	left:170px;
}
.nav5,.nav5o{
	position: absolute;
	top:500px;
	left:90px;
}
.nav1o,.nav2o,.nav3o,.nav4o,.nav5o{
	opacity: 0;
}
.earth{
	position: absolute;
    top: 220px;
    left: 0px; 
}
#nav{
	width:600px;
	height: 50px;
	position: absolute;
	top:200px;
	left:320px;
}
#nav .ndavo{
	background:#72bf44;
	border-bottom:2px solid #379300;
}
#nav .ndavo a{
		color: white;
}
#nav li{
	float: left;
	width:90px;
	height: 35px;
	text-align: center;	
	margin-top:15px;
	line-height: 2em;
	border-radius: 5px 5px;
}
#nav li a{
	text-decoration: none;
	color: #5c5c5c;
	font-size: 15px;
	font-family: "微软雅黑";
}
#nav li:hover{
	background:#72bf44;
	border-bottom:2px solid #379300;
}
#nav li:hover a{
		color: white;
} 
#main{
	position: absolute;
	top:300px;
	left:320px ;
	width:885px;
	height:600px;
	position: relative;
}
#m_left{
	position: absolute;
	left:0px;
	top:200px;
	width: 50px;
	height: 50px;
}
#m_right{
	position: absolute;
	right:10px;
	top:200px;
	width: 50px;
	height: 50px;
}
#imglist{
	position: absolute;
	top:0px;
	left:60px;
	width:750px;
	height:550px;
	overflow: hidden;
}
.imgs{
	margin-left:-500px;
	width:2500px;
	height:410px;
	margin-top:60px;
	position: relative;
}
.imgbox{
	position: absolute;
	width:250px;
	height:410px;
	font-size: 10px;
	color:#7B7B7B;
	background: white;
}
.img{
	width:250px;
	height: 380px;
}
footer {
	display:inline;
	position: absolute;
	left: 0px;
    top: 900px;
	z-index:-1;
	width: 100%;
	height: 45px;
	color: white;
	background: #315F9B;
	text-align: center;
}
footer a {
	color: white;
	font-size: 15px;
	text-decoration: none;
	line-height: 2.5em;
}