@media  screen and (min-height:800px) {
	#b_left{
	top: 20%;
	}
}
@media screen and (min-width:1250px) {
	#b_left{
	top: 10%;
	}
}
@media  screen and (max-height:800px){
	#b_left{
    top:20px;
	left:0px;
	}
}
@media  screen and (max-width:1250px){
	#b_left{
    top:20px;
	left:0px;
	}
}
*{
	padding: 0px;
	margin: 0px;
}
body{
	background: url(../img/img2/bg.jpg)no-repeat;
	background-size:100% 950px;
    background-attachment:fixed;
}
header{
	width: 1200px;
	height:880px;
	margin: 0 auto;	
	text-align: center;
	position: relative;
	font-family: "微软雅黑";
}
#logo{
	position: absolute;
	top:60px;
	left:330px;
	width:500px;
	height:50px;
	background: url(../img/img4/logo.png)no-repeat;
	background-size:500px 50px;
}

li{
	list-style: none;
}

#b_left{
	position: fixed;
	width:290px;
	height:650px;
}
.nav,.nav0o{
	position: absolute;
	top:5px;
	left:70px;
}
.nav1,.nav1o{
	position: absolute;
	top:90px;
	left:160px;
}
.nav2,.nav2o{
	position: absolute;
	top:190px;
	left:205px;
}
.nav3,.nav3o{
	position: absolute;
	top:300px;
	left:210px;
}
.nav4,.nav4o{
	position: absolute;
	top:410px;
	left:170px;
}
.nav5,.nav5o{
	position: absolute;
	top:500px;
	left:90px;
}
.nav0o,.nav2o,.nav3o,.nav4o,.nav5o{
	opacity: 0;
}
.earth{
	position: absolute;
    top: 220px;
    left: 0px; 
}
#nav{
	width:600px;
	height:50px;
	position: absolute;
	top:200px;
	left:320px;
}
#nav .ndavo{
	background:#72bf44;
	border-bottom:2px solid #379300;
}
#nav .ndavo a{
		color: white;
}
#nav li{
	float: left;
	width:90px;
	height: 35px;
	text-align: center;	
	margin-top:15px;
	line-height: 2em;
	border-radius: 5px 5px;
}
#nav li a{
	text-decoration: none;
	color: #5c5c5c;
	font-size: 15px;
	font-family: "微软雅黑";
}
#nav li:hover{
	background:#72bf44;
	border-bottom:2px solid #379300;
}
#nav li:hover a{
		color: white;
} 
.rndav{
	position: absolute;
    width:800px;
    height: 40px;
    top: 130px;
    left:300px;
}
.rndav a{
	text-decoration: none;
	color:#5C5C5C;
}
.ndavo{
	float:left;
 	width:200px;
 	height:40px;
 	text-align:center;
 	margin-left:30px;
 	font-size: 15px;	
 	line-height: 2.5em;
 	border-radius: 5px 5px;
 } 
 .ndavo:hover{
 	background:#F58220;
 	box-shadow: 0px 3px 3px #C25900;
 }
 .ndavo:hover a{
 	color: white;
 }
 .ndavo a{
	color: #5C5C5C;
}
 .rndav li{
   float:left;
 	width:130px;
 	height:40px;
 	text-align:center;
 	margin-left:20px;
 	font-size: 15px;
 	line-height: 2.5em;
 	border-radius: 5px 5px;
 }
 .ndavp{
 	background:#F58220;
 	box-shadow: 0px 3px 3px #C25900;
 }
 .ndavp a{
 	color: white;
 }
 .rndav li:hover{
 	background:#F58220;
 	box-shadow: 0px 3px 3px #C25900;
 } 
 .rndav li:hover a{
 	color: white;
 }
 .endh{
 	position: absolute;
    width: 800px;
    height: 40px;
    top: 200px;
    left: 330px;
 }
 a{
 	text-decoration: none;
 	color:#5C5C5C;
 }
 .endho{
 	float:left;
 	width:100px;
 	height:40px;
 	text-align:center;
 	font-size: 15px;
 	line-height: 2.5em;
 	border-radius: 5px 5px;
 	background:#F58220;
 	box-shadow: 0px 3px 3px #C25900;	
 } 
.endho a{
	color: white;
	text-decoration:none;
}
.endh li{
	float:left;
 	width:100px;
 	height:40px;
 	margin-left: 10px;
 	text-align:center;
 	font-size: 15px;
 	line-height: 2.5em;
 	border-radius: 5px 5px;
}
.endh li:hover{
	background:#F58220;
 	box-shadow: 0px 3px 3px #C25900;	
}
.endh li:hover a{
	color: white;
}
#main{
	position: absolute;
    top:242px;
    left: 330px;
    width: 870px;
    height:850px;
    border-top:1px solid #ccc;
    text-align:left;
}
#imgbox{
	width: 875px;
	height:650px;
	margin-top:20px;
}
#imgbox img{
	width: 870px;
	height: 650px;
}
#bleft{
	position: absolute;
	z-index: 10;
    top: 250px;
    left: 0px;
    width: 30px;
    height: 55px;
    cursor: pointer;
}
#bright{
	position: absolute;
	z-index: 10;
    top: 250px;
    right: 0px;
    width: 30px;
    height: 55px;
    cursor: pointer;
}
#msg{
	width: 870px;
	height: 40px;
	text-align: center;
	color: #315F9B;
	line-height: 2em;
}
#main ul{
	margin-top:40px;
	width: 875px;
	height:45px;	
}
#main li{
	float: left;
	width:170px;
	height: 45px;
	color: white;
	text-align:center;
	line-height: 2.5em;
	margin-left: 1px;
	cursor: pointer;
}
.li_t{
	background:#72BF44;
}
.li_o{
	background:#cbcbcb;
}
.detail{
	position: absolute;
	width: 870px;
	top:800px;
	height: 300px;
	bottom: 0px;
}
.detail p{
	color: #5C5C5C;
	margin-top:10px;
}
footer {
	position: absolute;
	left:0px;
    top:1300px;
	z-index:-1;
	width: 100%;
	height: 45px;
	color: white;
	background: #315F9B;
	text-align: center;
}
footer a {
	color: white;
	font-size: 15px;
	text-decoration: none;
	line-height: 2.5em;
}