@charset "UTF-8";
@import "advert.css";
@import "components.css";
@import "device.css";
@import "fault.css";
@import "firmwareUpgrade.css";
@import "FMSManage.css";
@import "log.css";
@import "message.css";
@import "netWorkManage.css";
@import "person.css";
@import "product.css";
@import "systemSetup.css";
@import "updateManage.css";
@import "user.css";
/* #authorityManage {
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    height: auto;
    background: #F2F2F2;
}

#authorityManage .select {
    border: 1px solid #e6e6e6;
    width: 115px;
    height: 30px;
    padding: 0px 5px;
    margin: 20px 0px 10px -10px;
}

#authorityManage .popout p {
    line-height: 40px;
} */