#proDimension,
#regionAmend,
#unitAmend {
    width: 100%;
    min-width: 1200px;
    min-height: 100%;
    height: auto;
    background: #F2F2F2;
}

/* line 1557, ../sass/style.scss */
#proDimension .select,
#regionAmend .select,
#unitAmend .select {
    border: 1px solid #e6e6e6;
    width: 115px;
    height: 31px;
    padding: 0px 5px;
    margin: 20px 0px 0px 10px;
}

#proDimension .popout p,
#regionAmend .popout p,
#unitAmend .popout p {
    line-height: 40px;
}

#proDimension .upDown,
#regionAmend .upDown,
#unitAmend .upDown {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#proDimension .upDown span,
#regionAmend .upDown span,
#unitAmend .upDown span {
    cursor: pointer;
    display: inline-block;
    transform: rotate(90deg);
}