.analysis {
  width: 370px;
  min-width: 370px;
  min-height: calc(100vh - 144px);
  padding: 16px 16px 64px 16px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.title {
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.buttonCommon {
  width: 159px;
  height: 40px;
}
