<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>千柏渡商家版</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/frozen.css">
		<link rel="stylesheet" type="text/css" href="css/style/stylesheets/idukou.css" />
		<script src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/angular/angular.min.js"></script>
		<script src="js/idukou.js"></script>
	</head>
	<style type="text/css">
		.ui-dialog-cnt {
			width: 24rem;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -12rem;
			margin-top: -12rem;
		}
	</style>

	<body ontouchstart>
		<div ng-app="app" ng-cloak class="ng-cloak" ng-controller="orderCtrl">
			<header class="ui-header ui-header-positive ui-pulic-header">
				<a href="home.html"><i class="ui-icon-return ui-header"><span style="font-size:14px">返回</span></i></a>
				<h2>订单管理</h2>
			</header>
			<section class="ui-container ui-whitespace" id="order_update">
				<div class="ui-searchbar-wrap ui-border-b" style="position:fixed;left:0px;top:64px;width:100%;z-index: 999;">
					<div class="ui-searchbar ui-border-radius" ng-click="searchbar()">
						<i class="iconfont icon-sousuo_sousuo " style="font-size:15px;"></i>
						<div class="ui-searchbar-text ">搜索预约人</div>
						<div class="ui-searchbar-input "><input value=" " ng-change="search() " type="text " ng-model="searchPhone " placeholder="搜索预约人 " autocapitalize="off "></div>
					</div>
					<button class="ui-searchbar-cancel " ng-click="clearbar() ">取消</button>
				</div>
				<div style="height:45px;width:100%; "></div>
				<ul class="order_list " ng-repeat="order in allOrdersOther | filter:customFilter">
					<li class="ui-bottom ui-whitespace ">
						<div class="ui-text-left ">订单号:{{order.OCode}}</div>
						<div class="ui-text-right" style="margin-top:5px;width:23%;"><button ng-click="finishOrder(order,4)" style="float:left;width:100%;height:2rem;border-radius:1rem;border:1px solid #1EBD9E;">完成服务</button></div>
					</li>
					<div class="order_details " ng-click="msg(order.ID)">
						<li class="ui-whitespace ">
							<div class="ui-text-left ">预约人:&nbsp;{{order.TrueName}}</div>
						</li>
						<li class="ui-whitespace ">
							<div class="ui-text-left ">服务时间:&nbsp;{{order.CreateDate}}</div>
						</li>
						<li class="ui-whitespace ui-bottom">
							<div class="ui-text-left ">服务地址:&nbsp;{{order.Address}}</div>
						</li>
						<!--<li class="ui-bottom ui-whitespace">
							<div class="ui-text-left " style="width:50%; ">服务全款:<span style="color:#6EDBC5; ">{{totalPrice}}元</span></div>
							<div class="ui-text-left ">服务订金:<span style="color:#6EDBC5; ">{{order.OrdersPriceDataObjects | orderPrice:2}}元</span></div>
						</li>-->
					</div>
					<li>
						<button type="button" ng-if="order.totalPrice==0"  ng-click="selectService(order)" style="float: left;width:35%;line-height:3rem;border-right:1px dotted #e0e0e0 ;">服务下单</button>
						<button type="button" ng-if="order.totalPrice >0"  ng-click="selectService(order)" style="float: left;width:35%;line-height:3rem;border-right:1px dotted #e0e0e0 ;">修改服务</button>
						<a href="tel:{{order.Phone}}" style="float:left;width:29.5%;height:3rem;line-height:3rem;border-right:1px dotted #e0e0e0 ;">联系客户</a>
						<button type="button" ng-click="depositPay(order)" style="float:left;width:35%;line-height:3rem;">定金管理</button>
					</li>
				</ul>
				<div class="ui-dialog finished">
					<div class="ui-dialog-cnt">
						<header class="ui-dialog-hd ui-border-b" style="border-bottom:1px solid #e0e0e0;">
							<h3>订单消息</h3>
						</header>
						<div class="ui-dialog-bd" style="border-bottom:1px solid #e0e0e0;">
							<h4>您确定要完成服务吗？点击确定后将不能修改服务。</h4>
						</div>
						<div class="ui-dialog-ft">
							<button style="border-right:1px solid #e0e0e0;" type="button" ng-click="clear()" data-role="button">取消</button>
							<button type="button" ng-click="sure()" data-role="button">确定</button>
						</div>
					</div>
				</div>
				<div class="ui-dialog delete">
					<div class="ui-dialog-cnt">
						<header class="ui-dialog-hd ui-border-b" style="border-bottom:1px solid #e0e0e0;">
							<h3>订单消息</h3>
						</header>
						<div class="ui-dialog-bd" style="border-bottom:1px solid #e0e0e0;">
							<h4>您确定要删除订单吗？点击确定后将不能恢复。</h4>
						</div>
						<div class="ui-dialog-ft">
							<button style="border-right:1px solid #e0e0e0;" type="button" ng-click="clear()" data-role="button">取消</button>
							<button type="button" ng-click="sure()" data-role="button">确定</button>
						</div>
					</div>
				</div>
				<div class="ui-poptips ui-poptips-success hint_msg" style="display: none;">
					<div class="ui-poptips-cnt">请输入手机号码</div>
				</div>
				<div class="ui-loading-block show">
					<div class="ui-loading-cnt">
						<i class="ui-loading-bright"></i>
						<p>正在加载中...</p>
					</div>
				</div>
				<div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</div>
			</section>
			<footer class="ui-footer ui-footer-stable ui-border-t">
				<ul class="ui-tiled  ui-txt-tips" style="margin-top:5px;">
					<li class="ui-footer-info">
						<i class="iconfont icon-jinxingzhongdedingdan icon-footer " style="color:#1ABC9C "></i>
						<div class="showpage ">执行中</div>
					</li>
					<li onclick="javascript:window.location.href='order_pay.html' ">
						<i class="iconfont icon-daifukuan icon-footer " style="color:#888"></i>
						<div>待付款</div>
					</li>
				</ul>
			</footer>
		</div>
	</body>
	<script type="text/javascript ">
		//搜索框
		$('.ui-searchbar').click(function() {
			$('.ui-searchbar-wrap').addClass('focus');
			$('.ui-searchbar-input input').focus();
		});
		$('.ui-searchbar-cancel').click(function() {
			$('.ui-searchbar-wrap').removeClass('focus');
		});		
		var requestUrl = APIaddress + "api/Orders/GetOrderListByState/" + MerchantID + "/" + "1";
		var myModule = angular.module("app", []);
		
		myModule.filter('orderPrice', function() {
			return function(orderPrice, ptype) {
				if(orderPrice) {
					for(var i = 0; i < orderPrice.length; i++) {
						if(orderPrice[i].PType == ptype) {
							return orderPrice[i].Price;
						}
					}
				}
			};
		});
		myModule.controller('orderCtrl', ['$scope', '$http',
			function($scope, $http) {
				$http({
					method: 'GET',
					url: requestUrl
				}).success(function(data) {
					$(".ui-loading-block").hide();
					if(data == null || data == "") {
						$("#order_update").html("<div class='ui-center'>还没有任何消息！</div>")
					} else {						
						data.forEach(function(order) {
							$http({
								method: 'GET',
								url: APIaddress + "api/Orders/getOrdersgoods/" + order.ID
							}).success(function(data) {
								var orderprice = 0;
								for(var i = 0; i < data.length; i++) {
									orderprice += data[i].MGPrice * data[i].OGNum;
								}
								order.totalPrice = orderprice;
							})
						})
                       $scope.allOrdersOther = data;              
						$scope.search = function() {
							if($scope.searchPhone) {
								$scope.filter = 'linkPhone';
								$scope.searchtype = $scope.searchPhone;
							}
						}

						$scope.customFilter = function(order) {
							switch($scope.filter) {
								case 'linkPhone':
									if(typeof order.TrueName == "string") {
										return !order.TrueName.indexOf($scope.searchPhone);
									} else {
										return false;
									};
								default:
									return true;
							}
						};

						$scope.searchbar = function() {
							$('.ui-searchbar-wrap').addClass('focus');
							$('.ui-searchbar-input input').focus();
						}

						$scope.clearbar = function() {
							$scope.filter = '';
							$scope.searchtype = '';
							$scope.searchPhone = '';
							$('.ui-searchbar-wrap').removeClass('focus');
						}
						$scope.selectService = function(order) {
							$http({
								method: 'GET',
								url: APIaddress + "api/Orders/getOrdersgoods/" + order.ID
							}).success(function(data) {
								order.OrdersDetails = data;
								window.sessionStorage.setItem("order", JSON.stringify(order));
								window.location.href = "selectService.html";
							})
						};
						$scope.depositPay = function(order) {
							window.location.href = "deposit_management.html?id=" + order.ID;
						}
						$scope.msg = function(orderID) {
							window.location.href = "order_detail.html?id=" + orderID;
						};
						//服务完成		
						$scope.finishOrder = function(order, state) {	
							$.get(APIaddress + "api/Orders/getOrdersgoods/" + order.ID, function(msg) {
								if(msg == "") {
									$(".hint_msg div").text("您还没有服务下单")
									$(".hint_msg").css({
										"display": "block"
									});
									setTimeout(function() {
										$(".hint_msg").css({
											"display": "none"
										});
									}, 1000)
								} else {
									$http({
										method: 'GET',
										url: APIaddress + "api/Orders/IsDingPay/" + order.ID
									}).success(function(data) {								
										if(!data){
											$(".finished").show();
											$scope.sure = function() {
												order.State = state;
												$.post(APIaddress + 'api/Orders/UpdateState', order, function(msg) {
													if(msg) {
														$(".hint_msg div").text("已成功完成订单")
														$(".hint_msg").css({
															"display": "block"
														});
														setTimeout(function() {
															$(".hint_msg").css({
																"display": "none"
															});
														}, 1000)
														window.location.reload();
													} else {
														$(".hint_msg div").text("完成订单失败")
														$(".hint_msg").css({
															"display": "block"
														});
														setTimeout(function() {
															$(".hint_msg").css({
																"display": "none"
															});
														}, 1000)
													}
												});
												$(".ui-dialog").hide();
											}
										} else {
											$(".hint_msg div").text("请支付订金")
											$(".hint_msg").css({
												"display": "block"
											});
											timer = setTimeout(function() {
												$(".hint_msg").css({
													"display": "none"
												});
											}, 1000)
										}
									})
								}
							})
						}

						//取消订单		
						$scope.deleteOrder = function(orderID) {
							$(".delete").show();
							var id = orderID;
							$scope.sure = function() { //确定
								$.post(APIaddress + 'api/Orders/UpdateState' + id + '/2', function(deleteMsg) {
									var timer = "";
									if(deleteMsg) {
										$(".hint_msg div").text("删除成功")
										$(".hint_msg").css({
											"display": "block"
										});
										timer = setTimeout(function() {
											$(".hint_msg").css({
												"display": "none"
											});
										}, 1000)
										window.location.reload();
									} else {
										$(".hint_msg div").text("删除失败")
										$(".hint_msg").css({
											"display": "block"
										});
										timer = setTimeout(function() {
											$(".hint_msg").css({
												"display": "none"
											});
										}, 1000)
									}
								})
							}
						}
						$scope.clear = function() {
							$(".ui-dialog").hide();
						}
					}
				}).error(function(data) {
					console.log("错误......");
				});
			}
		])
	</script>

</html>