<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>千柏渡商家版</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css">
		<link rel="stylesheet" href="css/frozen.css">
		<link rel="stylesheet" type="text/css" href="css/style/stylesheets/idukou.css" />
		<script src="js/zepto.min.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script src="js/angular/angular.min.js"></script>
		<script src="js/angular/angular-route.min.js"></script>
		<script src="js/idukou.js"></script>
	</head>
	<style>
		.ui-dialog-cnt {
			width: 24rem;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -12rem;
			margin-top: -12rem;
		}
	</style>

	<body ontouchstart>
		<div ng-app="app" ng-cloak class="ng-cloak" ng-controller="remarkCtrl">
			<header class="ui-header ui-header-positive ui-pulic-header">
				<a href="comment.html"><i class="ui-icon-return ui-header"><span style="font-size:14px">返回</span></i></a>
				<h2>备注列表</h2>
			</header>
			<section class="ui-container" id="remark">
				<ul class="ui-list ui-list-pure ui-border-tb">
					  <li class="remark_list" ng-click="delete()" style="border-bottom:1px solid #e0e0e0" ng-repeat="oremark in OrderRemarks">
						<p><span class="date"> {{oremark.CreateDate | date:'yyyy-MM-dd HH:mm:ss'}}</span></p>
						<h4>{{oremark.Remark}}</h4>
						<i style="position: absolute;right:20px;top:20px;display: none;" ng-click="delete_remark(oremark)" class="iconfont icon-delete"></i>
					</li>
				</ul>
				<div class="ui-dialog">
					<div class="ui-dialog-cnt">
						<header class="ui-dialog-hd ui-border-b">
							<h3>删除备注</h3>
						</header>
						<div class="ui-dialog-bd">
							<h4>确定要删除这条备注吗？</h4>
						</div>
						<div class="ui-dialog-ft">
							<button type="button" ng-click="clear()" data-role="button">取消</button>
							<button type="button" ng-click="sure()" data-role="button">确定</button>
						</div>
					</div>
				</div>
			</section>
			<div>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>

			<footer class="ui-footer-fixed ui-border-t">
				<ul class="ui-tiled">
					<li ng-click="writeRemark()">
						<div>添加备注</div>
					</li>
				</ul>
			</footer>
		</div>
		<script type="text/javascript">
			var id = window.location.search.split("=")[1];
			var requestUrl = APIaddress + "api/Orders/getOrderRemarks/" + id;
			var myModule = angular.module("app", []);
			myModule.controller('remarkCtrl', ['$scope', '$http',
				function($scope, $http) {
					$http({
						method: 'GET',
						url: requestUrl
					}).success(function(data) {
						$(".ui-loading-block").hide();
						if(data == null || data == "") {
							$("#remark").html("<div class='ui-center'>还没有任何备注信息！</div>")
						} else {
							$scope.OrderRemarks = data;
							$scope.delete = function() {
								$("#remark i").toggle();
							}
							$scope.delete_remark = function(oremark) {
								$(".ui-dialog").show();
								$scope.sure = function() {
									$(".ui-dialog").hide();
									$.post(APIaddress + "api/Orders/DeleteOrderRemark", oremark, function(msg) {
										if(msg) {
											window.location.href = "remark_msg.html?id=" + id;
										}
									})
								}
							}
							$scope.clear = function() {
								$(".ui-dialog").hide();
							}
						}
					}).error(function(data) {
						console.log("错误......");
					});
					$scope.writeRemark = function() {
						window.location.href = "remark_write.html?id=" + id;
					}
				}
			]);
		</script>
	</body>

</html>