<div id="faultLog">
	<p class="breadcrumb">当前位置: 故障日志</p>
	<div class="layui-tab" lay-filter="test" style="background: white;margin: 0 30px;padding: 20px 20px;">
		<div style="margin-left:15px;">
			<select ng-model='filter.rank' name="modules" class="select" lay-verify="required">
				<option value="">故障等级</option>
				<option ng-repeat='item in rankList' value="{{item}}">{{item}}</option>
			</select>
			<input ng-model='filter.errorName' type="text" placeholder="故障名称" autocomplete="off" class="layui-input">
			<input ng-model='filter.errorCode' type="text" placeholder="故障代码" autocomplete="off" class="layui-input">
			<input type="text" ng-model="filter.productModel" lay-verify="title" autocomplete="off" placeholder="产品型号" class="layui-input">
			<input type="text" ng-model="filter.identityId" lay-verify="title" autocomplete="off" placeholder="MAC/IMEI" class="layui-input">
			<input type="text" ng-model="filter.snCode" lay-verify="title" autocomplete="off" placeholder="SN" class="layui-input">
		</div>
		<div style="margin-left:15px;margin-top:20px;">
			<input ng-model='filter.startTime' type="text" name="date" id="datessss" lay-verify="date" placeholder="上报故障时间" autocomplete="off" class="layui-input" style="width: 300px">
			<button class="layui-btn layui-btn-sm layui-btn-normal searchBth" ng-click='getListData({
				pageNum: 1,
				pageSize: 10,
			}, true)'>查询</button>
		</div>

		<div class="layui-tab-content">
			<!--故障报警-->
			<div class="layui-tab-item layui-show">
				<table class="layui-table">
					<thead>
						<tr>
							<th>序号</th>
							<th>故障等级</th>
							<th>故障名称</th>
							<th>故障代码</th>
							<th>产品名称</th>
							<th>产品型号</th>
							<th>MAC/IMEI</th>
							<th>snCode</th>
							<th>设备名称</th>
							<th>上报时间</th>
							<!-- <th>处理进度</th>
							<th>处理时间</th> -->
							<!-- <th>处理人</th> -->
							<th ng-show="isDetail || isDetail==undefined || isDelete || isDelete==undefined" class="noExl">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='(index, item) in listData'>
							<td>{{index+1}}</td>
							<td style="font-weight:bold;">{{item.rank==null?'--':item.rank}}</td>
							<td>{{item.errorName==null?'--':item.errorName}}</td>
							<td>{{item.errorCode==null?'--':item.errorCode}}</td>
							<td>{{item.productName | nullDeal}}</td>
							<td>{{item.productModel | nullDeal}}</td>
							<td>{{item.identityId | nullDeal}}</td>
							<td>{{item.sncode | nullDeal}}</td>
							<td>{{item.deviceName==null?'--':item.deviceName}}</td>
							<td>{{item.createTime==null?'--':item.createTime}}</td>
							<!-- <td>{{item.status==1?'已处理':item.status==0?'未处理':'--'}}</td>
							<td>{{item.updataTime==null?'--':item.updataTime}}</td> -->
							<!-- <td>{{item.updataBy==null?'--':item.updataBy}}</td> -->
							<td class="noExl" ng-show="isDetail || isDetail==undefined || isDelete || isDelete==undefined">
								<button ng-show="isDetail || isDetail==undefined" class="layui-btn layui-btn-sm layui-btn-normal" ng-click="goDetail(item.errorCode,item.deviceId)">详情</button>
								<button ng-show="isDelete || isDelete==undefined" class="layui-btn layui-btn-sm layui-btn-danger" ng-click="dialog(item.id)">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<p ng-show='listData.length==0' class="noData">暂无数据</p>
				<div id="faultLogPage" class="paging"></div>
			</div>
		</div>
		<!--<div ng-show="isExcel" style="margin:10px 10px;">
			<button class="layui-btn layui-btn-lg layui-btn-normal" onclick="toExcel('故障日志')">导出</button>
		</div>-->
		<p>&nbsp;</p>
	</div>
	<div class="layui-layer-shade dialogShade" id="layui-layer-shade1" times="1"></div>
	<div class="layui-layer layui-layer-page" id="layui-layer1" type="page" times="1" showtime="0" contype="string" style="z-index: 19891015; width: 350px; height:150px; top:20%; left:50%;margin-left:-150px;display: none;">
		<div class="layui-layer-title cursor">删除</div>
		<div id="LAY_layuipro" class="layui-layer-content">
			<p style="text-align:center;margin: 20px 0px 0px 20px;">确认删除该条日志！？</p>
		</div>
		<span class="layui-layer-setwin"><a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;" ng-click="close()"></a></span>
		<div class="layui-layer-btn layui-layer-btn-c">
			<a class="layui-layer-btn0" ng-click="save()">确认</a>
			<a class="layui-layer-btn1" ng-click="close()">取消</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	//selec默认颜色
	var unSelected = "#bababa";
	var selected = "#505050";
	$(function() {
		$("select").css("color", unSelected);
		$("option").css("color", selected);
		$("select").change(function() {
			var selItem = $(this).val();
			if (selItem == $(this).find('option:first').val()) {
				$(this).css("color", unSelected);
			} else {
				$(this).css("color", selected);
			}
		});
	})
</script>