/* @import-normalize; */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 1360px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input {
  -moz-appearance: textfield;
}
