.tableOprate{
  height: 32px;
  margin:10px 0px 10px 10px;
  .add{
    float: left;
    margin:0px 10px 0 0;
    background: #229794;
    color: white;
  }
  .merges{
    float: left;
    margin:0px 10px 0 0;
  }
  .export{
    float: left;
    margin:0px 10px 0 0;
    color: rgba(0, 0, 0, 0.65)
  }
}