<div id="setUp">
	<p class="breadcrumb">当前位置: 消息类型设置</p>
	<div class="layui-tab" lay-filter="test">
		<ul class="layui-tab-title">
			<li class="layui-this">消息类型</li>
		</ul>
		<div class="layui-tab-content clearfix">
			<button class="layui-btn layui-btn-sm layui-btn-normal right" style='margin:0 15px 20px 0px;' ng-click="dialog('add')">新增</button>
			<!--全部-->
			<div class="layui-tab-item layui-show">
				<!-- 列表 -->
				<table class="layui-table">
					<thead>
						<tr>
							<th>序号</th>
							<th>名称</th>
							<th>描述</th>
							<th ng-show="isSave || isDelete" class="noExl">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='item in listData'>
							<td>{{item.no}}</td>
							<td>{{item.typeName}}</td>
							<td>{{item.description}}</td>
							<td ng-show="isSave || isDelete">
								<button ng-show="isSave" class="layui-btn layui-btn-sm layui-btn-normal" ng-click="dialog('edit', item.id)">编辑</button>
								<button ng-show="isDelete" class="layui-btn layui-btn-sm layui-btn-danger" ng-click="dialog('delete', item.id)">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<p ng-show='listData.length==0' class="noData">暂无数据</p>
				<div id="setUpAPage" class="paging"></div>
				<!-- 表单 -->
				<div class="layui-layer layui-layer-page" id="layui-layer1" type="page" times="1" showtime="0" contype="string" ng-style="dialogStyle">
					<div class="layui-layer-title cursor">{{fun=="delete"?'删除':fun=="add"?'新增':'编辑'}}</div>
					<!-- 编辑/添加 -->
					<div ng-show='fun=="edit"||fun=="add"' id="LAY_layuipro" class="layui-layer-content" style="height:200px;">
						<div style="padding:20px 20px;">
							<div class="layui-form-item">
								<label class="layui-form-label"><span class="mustIn">* </span>名称：</label>
								<div class="layui-input-block">
									<input ng-model='form.typeName' type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label"><span class="mustIn">* </span>描述：</label>
								<div class="layui-input-block">
									<textarea ng-model='form.description' placeholder="请输入内容" class="layui-textarea" name="desc" style="margin:-30px 0px 0px 10px;"></textarea>
								</div>
							</div>
						</div>
					</div>
					<!-- 启用/停用/删除 -->
					<div style="margin-top:20px;text-align: center;" ng-show='fun!="edit"&&fun!="add"'>确认{{fun=="delete"?'删除':fun=="start"?'开启':'停用'}}该消息类型设置？</div>
					<span class="layui-layer-setwin"><a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;" ng-click="close()"></a></span>
					<div class="layui-layer-btn layui-layer-btn-c">
						<a class="layui-layer-btn0" ng-click="Verification()">{{fun=="delete"?'确认':fun=="add" || fun=="edit"?'保存':''}}</a>
						<a class="layui-layer-btn1" ng-click="close()">取消</a>
					</div><span class="layui-layer-resize"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-layer-shade dialogShade" id="layui-layer-shade1" times="1"></div>
</div>