@charset "utf-8";
$fontFamliy: "微软雅黑";
$fontColor: #7f7f7f;
$background: #F7F7F7;
@media screen and (min-width:320px) {
    html {
        font-size: 10px!important;
    }
}

@media screen and (min-width:360px) {
    html {
        font-size: 11.25px!important;
    }
}

@media screen and (min-width:400px) {
    html {
        font-size: 12.5px!important;
    }
}

@media only screen and (min-width:481px) {
    html {
        font-size: 94%!important;
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 109%!important;
    }
}

@media screen and (min-width:640px) {
    html {
        font-size: 20px!important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    html {
        font-size: 22px!important;
    }
}

*,
*:after,
*:before {
    // -webkit-user-select: none;
    //字体不能被选择（复制等）
    // -moz-user-select: -moz-none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    //只用于iOS (iPhone和iPad) 点击一个链接或者通过Javascript定义的可点击元素的时候，它就会出现一个半透明的灰色背景
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    //  box-sizing: border-box;
    //  //并排两个带边框的框
    //  -webkit-box-sizing: border-box;
    //  -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    //当你触摸并按住触摸目标时候，禁止或显示系统默认菜单。
    margin: 0;
    padding: 0;
    -ms-touch-action: pan-y;
    //可以在父级元素内进行垂直移动的手势操作。在IE11使用属性，在IE10应使用-ms-touch-action，IE10之前的浏览器不支持
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #eee;
    overflow-y: auto;
    color: $fontColor;
    -webkit-text-size-adjust: none;
    //解决IPHONE网页兼容（部分字号变大）
}

//登录页
#loginPage {
    section {
        form {
            margin-top: 10px;
            .itemc {
                input {
                    border: none;
                    width: 100%;
                    height: 40px;
                    text-indent: 1em;
                    margin: 10px auto;
                    font-size: 12px;
                    color: #bdbdbd;
                    background: white;
                    border: 1px solid #bbb;
                }
                img {
                    float: left;
                    margin: 10px 5%;
                    height: 40px;
                }
                a {
                    float: left;
                    margin: 10px 0px;
                    height: 40px;
                    line-height: 40px;
                    color: #000;
                }
            }
            .check {
                clear: both;
                input {
                    float: left;
                    height: 25px;
                    margin-right: 10px;
                    span {
                        display: inline;
                    }
                }
            }
        }
    }
}

//个人中心
#user {
    .ui-list {
        height: 120px;
        .memberavatar {
            margin: 20px 0px;
            height: 80px;
            width: 80px;
        }
        .ui-list-info {
            margin-left: 20px;
            color: white;
        }
    }
    .nav {
        li {
            float: left;
            width: 49.5%;
            line-height: 40px;
            text-align: center;
            background: white;
        }
    }
}

//核销记录
#cancelCoupon {
    .text {
        margin: 6% 10px 0px 15px;
    }
    .coupons {
        margin: 6% 10px 10px 15px;
        border: none;
        border: 1px solid #eee;
        width: 65%;
        line-height: 3.5rem;
        padding-left: 10px;
        border-radius: 3px 3px;
        font-size: 1.3rem;
    }
    .cancel {
        margin: 20px 0px 0px 0px;
        width: 15%;
        height: 3.5rem;
        line-height: 3.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #bbb;
        border: none;
        border: 1px solid #eee;
    }
    #scanQRCode1 i:active {
        background: #E0E0E0;
    }
}

//核销记录
#couponRecord {
    .couponList {
        width: 100%;
        background: white;
        border-radius: 5px 5px;
        li {
            margin: 10px 0px;
            .number {
                width: 100%;
                border-bottom: 1px dashed #eee;
                padding-left: 10px;
                line-height: 30px;
                font-size: 1.3rem;
            }
            .money {
                display: inline-block;
                width: 35%;
                text-align: center;
                p {
                    margin: 3px 0px;
                    font-size: 1.5rem;
                }
            }
            .userMsg {
                display: inline-block;
                h5 {
                    color: #000000;
                    margin-top: 10px;
                }
                p {
                    font-size: 1.3rem;
                    margin: 5px 0px;
                }
            }
        }
    }
}

//登记中心
#register {
    .nav {
        width: 100%;
        position: fixed;
        top: 45px;
        li {
            float: left;
            width: 50%;
            line-height: 35px;
            text-align: center;
            background: white;
            position: relative;
            .line {
                width: 1px;
                height: 25px;
                top: 5px;
                right: 0px;
                position: absolute;
                background: #eee;
            }
        }
        .focus {
            background: #bbb;
            color: white;
        }
    }
    ul {
        width: 100%;
        .Mactivities {
            width: 100%;
            background: url(../../../img/cat.jpg);
            background-size: 100% 100%;
            margin-top: 10px;
            text-align: center;
            padding: 10px 0px;
            word-break: break-all;
            .ActName {
                color: #FFFE74;
                font-family: Georgia;
                font-style: oblique;
                letter-spacing: 5pt;
                font-size: 35px;
                -webkit-text-stroke: 1px white;
            }
            .StoreName {
                width: 100%;
                color: white;
                font-size: 12px;
                margin-top: 5px;
            }
            .ActTime {
                font-size: 12px;
                color: white;
                margin-top: 5px;
            }
            input {
                width: 100px;
                padding: 4px 15px;
                outline: none;
                border: none;
                background: white;
                border-radius: 10px;
                margin-top: 7px;
                color: #7f7f7f;
                font-size: 1.2rem;
            }
            input:active {
                background: rgba(0, 0, 0, 0.1);
            }
        }
        .Sactivities {
            width: 100%;
            background: url(../../../img/mat.jpg);
            background-size: 100% 100%;
            margin-top: 10px;
            text-align: center;
            padding: 10px 0px;
            .ActName {
                color: white;
                font-family: Georgia;
                font-style: oblique;
                letter-spacing: 5pt;
                font-size: 35px;
                font-weight: bold;
                margin-top: 2px;
                -webkit-text-stroke: 2px #500B12;
            }
            .StoreName {
                color: #591217;
                font-size: 12px;
                margin-top: 5px;
            }
            .ActTime {
                font-size: 12px;
                color: #591217;
                margin-top: 5px;
            }
            input {
                width: 100px;
                padding: 4px 15px;
                outline: none;
                border: none;
                background: white;
                border-radius: 10px;
                margin-top: 7px;
                color: white;
                background: #EA7777;
                font-size: 1.2rem;
            }
            input:active {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

//短信登录
#smsLogin {
    width: 100%;
    form {
        margin-top: 10px;
        input {
            border: none;
            height: 40px;
            font-size: 12px;
            text-indent: 1em;
            background: white;
            border: 1px solid #bbb;
            outline: none;
        }
        .phone {
            width: 100%;
            margin: 10px 0;
        }
        label {
            display: inline-block;
            width: 100%;
            border: none;
            height: 40px;
            font-size: 12px;
            margin: 10px 0;
            position: relative;
            font-weight: lighter;
        }
        .Vcode {
            position: absolute;
            left: 0px;
            top: 0px;
            border: 1px solid #bbb;
            background: white;
            width: 60%;
        }
        .getCode {
            position: absolute;
            line-height: 42px;
            padding: 0px 15px 0px 0px;
            height:42px;
            left: 60%;
            top: 0px;
            border: 1px solid #bbb;
            background: white;
        }
        span:active {
            background: rgba(0, 0, 0, 0.1);
            color: white;
        }
    }
}

//登记记录
#userRecord {
    .nav {
        line-height: 35px;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        background: white;
        margin-top: 10px;
        tr {
            border-bottom: 1px dashed #eee;
            td {
                text-align: center;
                font-size: 1.3rem;
            }
        }
    }
}

//修改密码
#alterPassword {
    .code {
        width: 200px;
    }
    .getVcode {
      position: absolute;
      z-index:99;    
      right:15px; 
      top:100px;
      border:none;
      background: none;
      font-size: 1.3rem;
      color: #00C795;
    }
}