* {
	margin: 0px;
	padding: 0px;
}
button{
	margin: 0px;
	padding: 0px;
}

[v-cloak] {
  display: none;
}

html,body {
	font-size: 100px;
	background:#eef3fa;
}

@media screen and (min-width:320px){
	html,body{
		font-size: 100px
	}
	.login_bg,.qrcode,.feedback,.feedback{
		background: no-repeat url(../image/SE.png);
		background-size: 100% 100%;
	}
}
@media screen and (min-width:321px) and (max-width:375px) {
	html,body  {
		font-size: 110px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/8.png);
		background-size: 100% 100%;
	}
}
@media screen and (min-width:375px) and (min-height:812px) {
	html,body  {
		font-size: 110px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/X.png);
		background-size: 100% 100%;
	}
}

@media screen and (min-width:376px) and (max-width:414px) {
	html,body  {
		font-size: 120px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/8.png);
		background-size: 100% 100%;
	}
}

@media screen and (min-width:415px) and (max-width:639px) {
	html,body  {
		font-size: 150px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/8P.png);
		background-size: 100% 100%;
	}
}

@media screen and (min-width:640px) and (max-width:719px) {
	html,body  {
		font-size: 200px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/8P.png);
		background-size: 100% 100%;
	}
}


@media screen and (min-width:720px) and (max-width:749px) {
	html,body  {
		font-size:225px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/720P.png);
		background-size: 100% 100%;
	}
}

@media screen and (min-width:750px) and (max-width:799px) {
	html,body  {
		font-size:235px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/720P.png);
		background-size: 100% 100%;
	}
}

@media screen and (min-width:800px) {
	html,body  {
		font-size: 250px
	}
	.login_bg,.qrcode,.feedback {
		background: no-repeat url(../image/1080P.png);
		background-size: 100% 100%;
	}
}
.windows {
	margin: 10px 15px;
}
.gradual_line_blue{
	background: -webkit-linear-gradient(left,#267CFB, #30B3FC);
		/* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(right, #267CFB, #30B3FC);
		/* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(right, #267CFB, #30B3FC);
		/* Firefox 3.6 - 15 */
		background: linear-gradient(to right, #267CFB, #30B3FC);
}
.gradual_vertical_yellow{
	    color: white;
	    background: -webkit-linear-gradient(top,#F83122,#FF8626);
		/* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(bottom, #F83122,#FF8626);
		/* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(bottom, #F83122,#FF8626);
		/* Firefox 3.6 - 15 */
		background: linear-gradient(to bottom, #F83122,#FF8626);
}