<div id="business">
	<div class="row businessList">
		<img src="img/loading.gif" / class="loading" ng-if="businessLoading">
		<ul>
			<li class="business" ng-repeat="business in businessList">
				<div class="imgBox">					
				    <img ng-src="{{business.BusinessImg |imgsrc}}" class="imgBox"/>
				</div>
				<div class="businessMsg">
					<h4>{{business.BusinessName}}</h4>
					<p ng-if="business.Summary">{{business.Summary}}</p>
					<p ng-if="business.Summary==null">该商家暂未更新！</p>
				</div>
			</li>
		</ul>
	</div>
	<!--分页-->
	<div class="row" ng-if="pages>0">
		<div class="col-lg-12 Page">
			<ul>
				<li ng-click="pre()">
					<span aria-hidden="true">&laquo;</span>
				</li>
				<li ng-click="page($index)"  ng-class='{focus: $index==focus}'  ng-repeat="i in pages | num">
				  {{i}}
				</li>
				<li ng-click="next()">
					<span aria-hidden="true">&raquo;</span>
				</li>			 
			</ul>
		</div>
	</div>
</div>
<script src="js/common.js"></script>