<!--显示框-->
<div id="msgBox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="update-win-label" aria-describedby="登录框">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button id="msgClose" type="button" class="btn btn-default" style="float: right;border-radius:40px;outline:none;">x</button>
			</div>
			<div class="modal-body" style="text-align: center;">
				<p>&nbsp;</p>
				<img src="img/tips.png" style="width：25px;height: 25px;display:inline-block;margin-top:-5px;">
				<span style="font-size:20px;"> 礼仪师联系方式 : {{merchantPhone}}</span>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</div>
<!--主要内容-->
<div id="home">
	<!--banner图轮播-->
	<div class="row ">
		<div id="carousel-example-generic" class="col-lg-9 carousel slide banner" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="img/banner1.jpg" alt="...">
				</div>
				<div class="item">
					<img src="img/banner2.jpg" alt="...">
				</div>
				<div class="item">
					<img src="img/banner3.jpg" alt="...">
				</div>
				<div class="item">
					<img src="img/banner4.jpg" alt="...">
				</div>
			</div>
		</div>
		<div class="col-lg-3 consult">
			<h4>白事一条龙&nbsp;&nbsp;免费咨询服务</h4>
			<div id="search">
				<input class="f-left index-phone phone" ng-model="phone" type="text" placeholder="请输入手机号码">
				<label><input class="f-left index-phone Vcode" ng-model="Vcode" type="text" placeholder="验证码"><span class="getVcode">获取验证码</span></label>	
				<span>
	        		<button class="f-right fsize-16 index-sure" ng-click="addOrder()">免费咨询</button>
	     		</span>
			</div>
			<img src="img/pc_ewm.jpg" />
			<p>微信关注&nbsp;&nbsp;查看更多</p>
		</div>
	</div>
	<!--操作流程-->
	<div class="row  Procedure">
		<div class="col-lg-12">
			<img src="img/flow.png" />
		</div>
	</div>
	<!--活动区-->
	<div class="row mortician">
		<img src="img/one.jpg" style="width:440px;height:260px;" class="imgOne" ng-click="goMerchant('9f0b4d1f-b9d6-4f6e-abca-373b46c05052')" />
		<img src="img/two.jpg" style="width:360px;height:125px;" class="imgTwo" ng-click="goNear()" />
		<a href="lotteryPage.html" target="_blank"><img src="img/three.jpg" style="width:360px;height:125px;" class="imgThree" /></a>
		<a href="#/combo"><img src="img/four.jpg" style="width:725px;height:130px;" class="imgFour" /></a>
	</div>
	<!--推荐礼仪师-->
	<div class="row subnav">
		<ul class="col-lg-12">
			<li class="f-left" style="font-size:18px;font-weight:590;">推荐礼仪</li>
			<li class="f-right">
				<a href="#/merchants">查看更多>></a>
			</li>
		</ul>
	</div>
	<!--礼仪师列表-->
	<div class="row morticianList">
		<img src="img/loading.gif" class="loading" ng-if="morticianLoading">
		<div class="col-lg-3 morticianInfro" ng-repeat="mortician in morticianList" ng-click="goMerchant(mortician.ID)">
			<div class="imgBox">
				<img ng-src="{{mortician.HeadImg | imgsrc}}" class="imgBox" />
			</div>
			<div class="morticianMsg">
				<div class="msgBox">
					<h5>{{mortician.MName}}</h5>
					<p><span>
                            <i ng-repeat="i in mortician.Fullstar | range" class="iconfont icon-star-full"></i><i ng-repeat="i in mortician.Halfstar | range " class="iconfont icon-star-half"></i><i ng-repeat="i in mortician.Emptystar | range " class="iconfont icon-star-empty"></i>
							</span>{{mortician.TTotalScore.toFixed(1)}}</p>
					<p>响应速度：<span>{{mortician.TMajorNum.toFixed(1)}}</span></p>
					<p>专业程度：<span>{{mortician.TMannerNum.toFixed(1)}}</span></p>
					<p>服务态度：<span>{{mortician.TRestimeNum.toFixed(1)}}</span></p>
				</div>
			</div>
		</div>
	</div>
	<!--品牌商家-->
	<div class="row subnav">
		<ul class="col-lg-12">
			<li class="f-left" style="font-size:18px;font-weight:590;">品牌商家</li>
			<li class="f-right">
				<a href="#/business">查看更多>></a>
			</li>
		</ul>
	</div>
	<div class="row businessList">
		<img src="img/loading.gif" / class="loading" ng-if="businessLoading">
		<ul>
			<li class="business" ng-repeat="business in businessList">
				<img ng-src="{{business.BusinessImg | imgsrc}}" class="imgBox" />
			</li>
		</ul>
	</div>
	<!--商家广告-->
	<div class="row" style="margin-bottom:10px;">
		<img ng-src="{{AdviewBusiness.IMG | imgsrc}}" class="advertising" />
	</div>
	<!--精选陵园-->
	<div class="row subnav">
		<ul class="col-lg-12">
			<li class="f-left" style="font-size:18px;font-weight:590;">精选陵园</li>
			<li class="f-right">
				<a href="#/cemeteries">查看更多>></a>
			</li>
		</ul>
	</div>
	<div class="row cemeteryList">
		<img src="img/loading.gif" / class="loading" ng-if="cemeteryLoading">
		<ul>
			<li class="cemetery" ng-repeat="cemetery in cemeteryList" ng-click="goCemeteryMap(cemetery.ID)">
				<div class="imgBox">
					<img ng-src="{{cemetery.CemImg |imgsrc}}" class="imgBox" />
				</div>
				<div class="cemeteryMsg">
					<div class="msgBox">
						<h5>{{cemetery.CemName}}</h5>
						<p ng-if="cemetery.Average!=0">均价：{{cemetery.Average}}</p>
						<p ng-if="cemetery.Average==0">均价： --元</p>
						<p class="remark">简介：{{cemetery.Remark}}</p>
						<p><i class="iconfont icon-adress"></i>:<span>杭州市{{cemetery.CemAddr}}</span></p>
						<p><span>{{cemetery.CemeTel}}</span></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!--商家广告-->
	<div class="row" style="margin-top:1%;margin-bottom:10px;">
		<img ng-src="{{AdviewCemetery.IMG | imgsrc}}" class="advertising" />
	</div>

	<!-- 了解更多 -->
	<div class="row">
		<div class="story">
			<ul>
				<li class="f-left" style="font-size:15px;margin-bottom:5px;">&nbsp;&nbsp;孝道故事</li>
				<li class="f-right" style="height:20px;margin-top:5px;">
					<a href="javascript:;" ng-click="goSysnews(0)">+更多&nbsp;&nbsp;</a>
				</li>
			</ul>
			<div class="imgBox" ng-click="goSysnew(stories.ID)">
				<img ng-src="{{stories.HeadImg |imgsrc}}" class="imgBox" />
				<div class="title">&nbsp;&nbsp;&nbsp;&nbsp;{{stories.NTitle}}</div>
			</div>
			<ul class="storyList">
				<li ng-repeat="story in storyList" ng-click="goSysnew(this.story.ID)"> · {{story.NTitle}}</li>
			</ul>
		</div>
		<div class="geomancy">
			<ul>
				<li class="f-left" style="font-size:15px;margin-bottom:5px;">&nbsp;&nbsp;风水玄学</li>
				<li class="f-right" style="height:20px;margin-top:5px;">
					<a href="javascript:;" ng-click="goSysnews(1)">+更多&nbsp;&nbsp;</a>
				</li>
			</ul>
			<div class="imgBox" ng-click="goSysnew(geomancies.ID)">
				<img ng-src="{{geomancies.HeadImg | imgsrc}}" class="imgBox" />
				<div class="title">&nbsp;&nbsp;&nbsp;&nbsp;{{geomancies.NTitle}}</div>
			</div>
			<ul class="storyList">
				<li ng-repeat="geomancy in geomancyList" ng-click="goSysnew(this.geomancy.ID)"> · {{geomancy.NTitle}}</li>
			</ul>
		</div>
		<div class="news" style="margin-right: 0;">
			<ul>
				<li class="f-left" style="font-size:15px;margin-bottom:5px;">&nbsp;&nbsp;行业资讯</li>
				<li class="f-right" style="height:20px;margin-top:5px;">
					<a href="javascript:;" ng-click="goSysnews(2)">+更多&nbsp;&nbsp;</a>
				</li>
			</ul>
			<div class="imgBox" ng-click="goSysnew(news.ID)">
				<img ng-src="{{news.HeadImg |imgsrc}}" class="imgBox" />
				<div class="title">&nbsp;&nbsp;&nbsp;&nbsp;{{news.NTitle}}</div>
			</div>
			<ul class="storyList">
				<li ng-repeat="new in newList" ng-click="goSysnew(this.new.ID)"> · {{new.NTitle}}</li>
			</ul>
		</div>
	</div>
</div>
<script src="js/common.js"></script>