<div class="weui-tab">
    <div class="fix-top">
        <div class="weui-flex bg-white" style="border-bottom:  solid 1px #cccccc;">
            <a href="#/user" class="color-darkgray" style="padding: 8px 0px 8px 10px;width:100%;position: relative;"><i class="ui-ico-back"></i> 返回<div style="position: absolute;width:100%;text-align:center;top:0.4rem;">管理地址</div></a>
        </div>
        <a href="javascript:;" ng-click="add()" class="weui-btn weui-btn_default" style="border-radius: 0;margin: 10px 20px  ; ">+新增地址</a>
        <!--<a href="javascript:;" id="show-prompt" class="weui-btn weui-btn_primary">显示 Prompt</a>-->
    </div>

    <div class="weui-tab__bd" style="color:#999999;padding-top: 110px;">
        <div class="weui-panel ">
            <div class="weui-panel__hd font-16" style="padding: 10px 15px 5px;">钟星礼仪师</div>
            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__bd">
                        <!--<span class="font-16 color-darkgray b">钟星礼仪师</span>-->
                        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                    </div>
                </a>
            </div>
            <div class="weui-panel__ft" >
                <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd">查看更多</div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>


            <!--<div class="weui-panel__ft" >
                <a href="javascript:void(0);" class="weui-cell  weui-cell_link font-13">
                    <div class="weui-cell__bd" ng-click="editor($event)"><i class="ui-ico-editor"></i>编辑</div>
                    <span class="weui-cell__ft" ng-click="delete($event)"><i class="ui-ico-delete"></i>删除</span>
                </a>
            </div>-->
        </div>
    </div>
    </div>
</div>

