<div class="weui-tab">
    <div class="fix-top">
        <div class="weui-flex bg-white">
			<div class="color-darkgray" style="height:42px;">
				<div style="position:absolute;top:0.4rem;left:10px;z-index:1;" onclick="location='#/user'" style="line-height:42px;"><i class="ui-ico-back"></i> 返回 </div>
				<div style="position:absolute;width:100%;text-align:center;top:0.4rem;z-index:0;">关于千柏渡</div>
			</div>
	    </div>
	</div>


    <div class="weui-tab__bd" style="color:#999999;padding-top: 40px;">
        <div class="panel active">
            <div class="" style="width:100%;text-align:center;">
                <i class="ui-ico-idukou03 color-green " style="font-size: 80px;"></i><br>
                <i class="ui-ico-text01 color-darkgray " style="font-size: 200px;line-height: 100px;color: #000000;"></i>
                <p style="margin-top: -6rem;">
                    <span class="btn-default" style="border:solid 1px #cccccc;line-height: 30px;padding:3px  12px;border-radius:50px;">v1.0.1</span>
                </p>

            </div>
            <div style="margin:20px 30px;line-height: 35px;">
                <p class="color-darkgray">“千柏渡（idukou.com）”</p>
                <p class="font-13" style="line-height: 20px;text-align: justify;">
                                       是中国满意度最高的同城白事一条龙平台，汇聚全城老牌花圈店、优秀礼仪师、品牌殡仪服务供应商。在这里我们通过互联网来改善殡葬行业的服务质量，为每一个生命站好最后一班岗。
                </p>
            </div>
            <div class="weui-footer weui-footer_fixed-bottom weui-footer__text">
                <!--<p class="color-green font-13">服务协议 ｜ 免责声明</p>-->
                <a  href="#/rule"><span  class="color-green">《千柏渡免责声明》</span></a>
                <p >杭州汉之网络科技有限公司</p>
                <p >Copyright © 2008-2016</p>
                <p>　</p>
            </div>
        </div>
    </div>
</div>

